<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonsterNames</key>
	<array>
		<string>Goblin Warrior</string>
		<string>Goblin Scout</string>
	</array>
	<key>AbilityNames</key>
	<array>
		<dict>
			<key>Damage</key>
			<integer>20</integer>
			<key>Name</key>
			<string>Fireball</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>30</integer>
			<key>Name</key>
			<string>Greater Fireball</string>
		</dict>
		<dict>
			<key>Damage</key>
			<integer>25</integer>
			<key>Name</key>
			<string>Magic Missle</string>
		</dict>
	</array>
</dict>
</plist>
