<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonsterNames</key>
	<array>
		<string>Goblin Warrior</string>
		<string>Goblin Scout</string>
	</array>
	<key>AbilityNames</key>
	<array>
		<string>Fireball</string>
		<string>Magic Missle</string>
	</array>
</dict>
</plist>
